{% if docraptor_api_key %}
    <div
        data-controller="pdf"
        data-pdf-url-value="{{ url }}"
        data-pdf-apikey-value="{{ docraptor_api_key }}"
    >
        <h3 data-pdf-target="heading">Generate a PDF copy of this page:</h3>
        <div>
            <button
                class="button button-secondary"
                data-pdf-target="preview"
                data-action="pdf#generatePdf"
                type="button"
            >
                Generate preview PDF
            </button>
            <span data-pdf-target="downloadPreview"></span>
            <p class="help">
                Unlimited previews allowed, but will be watermarked.
            </p>
        </div>
        <div>
            <button
                class="button button-secondary warning"
                data-pdf-target="final"
                data-action="pdf#generatePdf"
                type="button"
            >
                Generate final PDF
            </button>
            <span data-pdf-target="downloadFinal"></span>
            <p class="help">
                Limited to 5 PDFs per month.
            </p>
        </div>
    </div>
{% endif %}
