#header { // currently only used for "archive" text on search page
    margin-top: 2 * $nav-height;
    padding-top: 20px;

    .sub.header {
        font-size: 20px;
    }

    .header:not(.sub) {
        font-size: 40px;
        font-weight: normal;
        text-transform: uppercase;

        @media (min-width: $tablet) {
            font-size: 60px;
        }
    }
}