#histogram {
    height: 8rem;

    .values {
        display: none;
    }

    .visualization {
        width: 100%;
        height: 4rem;
    }

    .min-date,
    .max-date{
        color: $midGrey;
    }

    .max-date {
        float: right;
    }
}
