#mobile-nav {
    top: $nav-height !important; // have to override SUI's !important
}

#main-nav {
    padding: 0;
    z-index: 103; // above mobile nav
    transition: margin-top 0.25s;
    border-top: 5px solid $pink;
    border-bottom: none;
    box-shadow: none;

    &.homepage {
        border-color: $darkBlue;
    }

    &.archive {
        border-color: $teal;
    }

    &.hidden {
        margin-top: -$nav-height - 5px;
    }

    .brand {
        width: 100%;
        height: $nav-height;
        display: flex;
        position: absolute;
        justify-content: center;
        margin: 0;
    }
    
    .item {
        z-index: 1;
        display: none;

        @media (min-width: $nav-breakpoint) {
            display: flex;
        }

        &.toc,
        &.search {
            display: flex;

            @media (min-width: $nav-breakpoint) {
                display: none;
            }
        }
        
        &.about,
        &.editorial {
            &.active::before {
                @include triangle-overlay($pink);
            }
        }

        &.collections,
        &.archive {
            &.active::before {
                @include triangle-overlay($teal);
            }
        }
    }
    
    a.item:hover {
        border-bottom: 10px solid $darkBlue;
        padding-bottom: 8px;
    }

    img {
        height: 1.25rem;
        width: 1.25rem;
    }

    .search.icon,
    .dropdown.icon {
        margin-left: .5rem;
    }

    .search .search.icon {
        margin-left: 0;
    }

    .dropdown.icon {
        transform: rotate(90deg);
    }

    .close.icon {
        display: none;
    }
    
    .item:hover .dropdown.icon {
        transform: rotate(-90deg);
    }
}