.results-list .item {
    margin: 1rem 0;

    > .grid {
        @include wide-container();
        padding: .5rem 0;
    }

    &:nth-child(even) {
        background-color: #fff;
    }

    .result-number {
        color: $darkestGrey;
        font-family: $pageFont;
    }

    .unapi-id {
        display: none;
    }

    .buttons {
        margin: 2rem 0 0;
    }

    .pages .wrapper {
        display: flex;
        margin-bottom: 1rem;
    }

    .labels {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .title {
        margin-left: 3rem;
        font-family: $headerFont;
    }

    .labels,
    .title .header, 
    .author.header {
        font-size: 1.5rem;
        color: $darkestGrey;
    }

    .title .sub.header {
        font-weight: normal;
        font-style: italic;
        text-transform: none;
    }

    .item-detail {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 1rem;
        color: $darkBlue;

        .chevron {
            fill: $darkBlue;
            vertical-align: middle;
            margin-left: -0.5rem;
            width: 2rem;
            height: 2rem;
        }

        @media (min-width: $computer) {
            display: none;
        }

        @media (min-width: $largeMonitor) {
            right: -12rem;
            top: 6rem;
            bottom: 0;
            margin: auto 0;
            height: 4rem;

            .chevron {
                position: absolute;
                left: 2.5rem;
                top: -3rem;
                height: 3rem;
                width: 3rem;
                margin: 0;
            }
        }
    }

    .metadata .publication {
        margin: 0;

        > .column {
            padding: 0 1rem;
            // border-right: 1px solid $midGrey;
            text-align: center;
            
            &:first-child {
                text-align: left;
                padding-left: 0;
            }
            
            &:last-child {
                border: 0;
                padding-right: 0;
                text-align: right;
            }
        }

        .pub_place,
        .enumcron {
            font-style: italic;
        }
    }
}

.results-list .item:hover {
    .item-detail {
        display: inline-block;
    }
}