// this will go into component customization later
$nav-height: 50px;
$nav-breakpoint: 1000px; // point at which we switch to mobile nav

$green        : #254E2E;
$gold         : #A98f5f;
$lightGreen   : #07AE79;
$lightGold    : #CDAD7E;
$offWhite     : #F1F0EB;

$pageFont              : 'Open Sans', Helvetica, sans-serif;
$headerFont            : 'Gentium Book Basic', Palatino, serif;