$nav-height: 50px;
$nav-breakpoint: 1068px; // point at which we switch to mobile nav

$green        : #254E2E;
$gold         : #A98f5f;
$lightGreen   : #07AE79;
$lightGold    : #CDAD7E;
$offWhite     : #F1F0EB;
$lightGrey    : #D8D8D8;
$midGrey      : #737373;
$darkGrey     : #4A4A4A;

$pageFont              : 'Open Sans', Helvetica, sans-serif;
$headerFont            : 'Gentium Book Basic', Palatino, serif;