{% load wagtailimages_tags wagtailcore_tags %}
{% with person.url|yesno:"a,div" as tag %}
<article class="profile">
    <h1 class="title">{{ person.project_role }}</h1>
    <{{ tag }} class="ui profile card"{% if person.url %} href="{{ person.url }}" target="_blank" rel="noreferrer"{% endif %}>
    {% image person.photo fill-285x160 as img_xs %}
    {% image person.photo fill-570x320 as img_xs_2x %}
    {% image person.photo fill-230x160 as img %}
    {% image person.photo fill-460x320 as img_2x %}
    <img class="photo"
        srcset="{{ img.url }} {{ img.width }}w
        "
        sizes="(min-width: "
        width="{{ img.width }}" height="{{ img.height }}"
        alt="{{ person.name }}"/>
    </{{ tag }}>
    <h2 class="name">{{ person.name }}</h2>
    {{ person.description|richtext }}
</article>
{% endwith %}