django>=1.11.16,<2.0
mysqlclient
pucas>=0.6
django-grappelli
# unreleased version of SolrClient with schema field-type management
git+https://github.com/rlskoeser/SolrClient.git@9d0493b#egg=SolrClient
pairtree
py-flags
pymarc
cached_property
django-apptemplates
progressbar2
django-semanticui-forms
lxml
eulxml
# pin to wagtail 2.3 for now (2.4 causing test/fixture error)
wagtail>=2.3,<2.4
bleach
django-fullurl
django-csp
django-webpack-loader
requests_oauthlib
wand
