django>=2.2,<3.0
mysqlclient
pucas>=0.6
django-grappelli
# unreleased version of SolrClient with schema field-type management
git+https://github.com/rlskoeser/SolrClient.git@9d0493b#egg=SolrClient
pairtree
py-flags
pymarc
cached_property
django-apptemplates
progressbar2
django-semanticui-forms
lxml
eulxml
wagtail>=2.7
bleach
django-fullurl
django-csp
django-webpack-loader
requests_oauthlib
wand
beautifulsoup4
# only needed for the 'generate_corpus' manage command
gensim
