django>=4.1,<4.2
django-cas-ng
pucas>=0.8
parasolr>=0.9
pairtree
py-flags
# pymarc 5+ has incompatible changes
pymarc<5.0
cached_property
django-apptemplates
progressbar2
django-semanticui-forms
lxml
eulxml
wagtail>=4.2,<5.0
django-taggit>=3.1,<4.0
bleach
django-fullurl
django-csp
# should be kept in sync with webpack-bundle-tracker npm package
django-webpack-loader==3.0.1
requests_oauthlib
wand
intspan
# specify bs4 version to avoid wagtail version conflict
beautifulsoup4<=4.11
django-adminlogentries
django-import-export
psycopg2-binary
multiprocess
# only needed for the 'generate_textcorpus' manage command
orjsonl