{% extends "base.html" %}
{% load static wagtailcore_tags ppa_page_tags %}


{% block page-subtitle %}{% firstof page.seo_title page.title %} · {% endblock %}
{% block page-context-id %}page{% endblock %}

{% block page_nav %}
    {% if page in request.site.root_page.get_chidren.live.in_menu %}
        {% include 'snippets/nav.html' %}
    {% else %}
        {% include 'snippets/nav.html' with active="about" %}
    {% endif %}
{% endblock %}

{% block page_header %}
    {% include 'snippets/header.html' with style='contentpage' %}
{% endblock %}

{# page title displayed in page header snippet ? or only for some content pages #}

{% block content %}
<article class="ui text container">
    <header>
        <h1 class="ui header page-title">
        {% firstof page.title page_title object.title %}</h1>
        <div class="meta">
            {% block attribution %}{% endblock %}
        </div>
    </header>
    {% block page_body %}
    {% for block in page.body %}
        {% if block.block_type == 'paragraph' %}
            <div class="{{ block.block_type }}">
                {% include_block block|format_citation:SW_VERSION %}
            </div>
        {% elif block.block_type == 'captioned_image' %}
            {% include_block block %}
        {% else %}
            <div class="{{ block.block_type }}">
                {% include_block block %}
            </div>
        {% endif %}
    {% endfor %}
    {% endblock %}
</article>
{% endblock %}
