{% extends "pages/content_page.html" %}
{% load wagtailcore_tags %}

{% block page-context-id %}contributors{% endblock %}

{% block page_body %}
    {# project contributors #}
    <section class="team">
        <h1>Project Team</h1>
        {% for block in page.specific.contributors %}
            {% include 'pages/snippets/profile.html' with person=block.value %}
        {% endfor %}
    </section>

    {# advisory board members #}

    <section class="board">
        <h1>Advisory Board</h1>
        {% for block in page.specific.board %}
            {% include 'pages/snippets/profile.html' with person=block.value %}
        {% endfor %}
    </section>

    {# regular body content, as for any other content page #}
    {{ block.super }}
{% endblock %}