{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load static humanize wagtailcore_tags ppa_tags %}

{% block js %}
{% render_bundle 'home' 'js' %}
{% endblock %}

{% block page-context-id %}homepage{% endblock %}

{% block metadata %}
{# verification code for google search console #}
<meta name="google-site-verification" content="pS2kpksxg6JeC90IvA8BHVsFuK_6b7J_vARVLqqu7ck" />
{% endblock %}


{% block page_nav %}
    {% include 'snippets/nav.html' with style="homepage" %}
{% endblock %}

{% block page_header %}
<header class="homepage" id="header">
    <div class="banner"></div>
    <div id="scene">
        <img class="layer one" data-depth="0.20" src="{% static 'img/logos/filled/blue-natural.svg' %}" alt="">
        <img class="layer two" data-depth="0.40" src="{% static 'img/logos/filled/teal-natural.svg' %}" alt="">
        <img class="layer three" data-depth="0.60" src="{% static 'img/logos/filled/red-natural.svg' %}" alt="">
    </div>
</header>
{% endblock %}

{% block content %}
<h1 class="sr-only">Princeton Prosody Archive</h1>
<div class="hero ui vertical basic segment container">
    <div class="intro">
        {{ page.body|richtext }}
    </div>
    <a class="archive-link" href="{% url 'archive:list' %}">
        <span class="ui header">
            {% include 'snippets/fermata.svg' %}
            View and search the archive
        </span>
    </a>
</div>
<div class="asides-collections ui vertical basic segment container">
   <div class="asides ui two cards">
        {% for card in preview_pages %}
        <a class="aside card" href="{{ card.url }}">
            <div class="content">
                <span class="header">{{ card.title }}</span>
                <div class="description">{{ card.specific.get_description|richtext }}</div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% if collection_page %}  {# page content pulled in from wagtail #}
    <div class="collections">
        <h2 class="ui header about-header">{{ collection_page.title }}</h2>
        <div class="description">{{ collection_page.body|richtext }}</div>
        <div class="ui cards">
            {% for item in collections %}
            <a class="ui card" href="{% url 'archive:list' %}?collections={{ item.pk }}">
                <div class="content">
                    <span class="header">{{ item.name }}</span>
                    {% with coll_stats=stats|dict_item:item.name %}
                        <div class="meta">
                            {% firstof coll_stats.count "0" as count %}
                            <p>{{ count|intcomma }} digitized work{{ count|pluralize }}
                                {% if coll_stats.dates %} - {{ coll_stats.dates }}{% endif %}
                            </p>
                        </div>
                    {% endwith %}
                    {% if item.description %}
                    <div class="description">
                        {{ item.description|safe }}
                    </div>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
        <a class="collections-link" href="{% pageurl collection_page %}">
            <h3 class="ui header">
                {% include 'snippets/fermata.svg' %}
                View All Collections
            </h3>
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}