@import 'scss/snippets/variables';
@import 'scss/snippets/mixins';
@import 'snippets/search-result';
@import 'snippets/preview-page';
@import 'snippets/pagination';
@import 'snippets/popups';

#header {
    padding: 0;

    > * {
        display: none;
    }
}

#digitized-work {
    .container {
        @include wide-container();
    }

    .meta {
        padding: 0 1rem;

        @media (min-width: $tablet) {
            padding: 0 2rem;
        }

        .header {
            color: $secondaryColor;
            font-size: 20px;
        }
    }

    .metadata.table {
        table-layout: fixed;

        td {
            border: 0;
        }
    
        th {
            color: $secondaryColor;
            width: 25%;
        }

        th,
        td {
            padding-left: 0 !important;
        }

        tr {
            padding: .5em;
            border: 0;
            box-shadow: none !important;

            @media (min-width: $tablet) {
                padding: 1em;
            }
        }

        .secondary-title td {
            color: $secondaryColor;
            font-size: 20px;
            font-style: italic;
            font-family: $headerFont;
        }

        .hathi-link span {
            color: $gold;
            margin-right: 1rem;
        }
    }

    .results-list .item {
        background-color: initial; // don't "stripe" the results

        &.page {
            margin: 1rem 0;
        }
    }

    .results-list.single .six.wide.column {
        border-top: 2px solid $gold;
        border-bottom: 2px solid $gold;
    }

    .results-list.container { // container for actual page results
        margin: 3rem 0;
    }

    .occurrences {
        margin: 2rem auto;
        color: $midGrey;
        font-size: 1rem;
    }
}