@import 'snippets/search-result';
@import 'snippets/preview-page';
@import 'snippets/pagination';

#digitized-work {
    // use headers to control col spacing, but hide them
    thead {
        height: 0;
    }
    thead th {
        visibility: hidden;
    }
    td {
        border: 0;
    }

    .results-list .item {
        &:nth-child(odd) {
            background-color: initial; // don't "stripe" the results
        }

        &.page {
            margin: 1rem 0;
        }
    }

    .results-list.container { // container for actual page results
        margin-top: 3rem;
    }

    .occurrences {
        margin: 2rem 0;
    }
}