@import 'scss/snippets/variables';
@import 'scss/snippets/mixins';

#collections {

    .page-description {
        color: $dusk;
        font-family: $headerFont;
        font-size: 20px;
        margin: 6rem 0;
    }

    .archive-link {
        text-align: center;
        
        > .header {
            font-size: 16px;
            font-weight: normal;
            text-transform: uppercase;
            font-family: $pageFont;
            margin-top: 4rem;
        }
    }
}