@import 'scss/snippets/variables';
@import 'scss/snippets/mixins';

#collections {

    .page-description {
        color: $green;
        font-family: $headerFont;
        font-size: 20px;
        margin-bottom: 4rem;
    }

    .archive-link {
        text-align: center;
        
        > .header {
            font-size: 26px;
            margin-top: 4rem;
        }
    }
}