#collections {
    .page-description {
        margin: 6rem auto;
        text-align: left;
    }

    .collection.card { // these will get factored out into component styles
        max-height: 13rem;
    
        .header,
        p {
            margin-bottom: 0;
        }
    
        p {
            font-size: 1rem;
        }
    
        .description {
            text-align: left;
        }
    }

    .archive-link .header {
        margin: 4rem 0 6rem;
    }
}
