@import 'snippets/search-result';
@import 'snippets/preview-page';
@import 'snippets/pagination';

#search {

    /* form */
    .question-popup {
        position: absolute;
        // next to "Keyword or Phrase" text
        top: 1rem;
        right: 0;

        @media screen and (min-width: 800px) {
            // move to the right of the main search box
            top: 3.25rem;
            right: -2rem;   
        }
    }

    input[type=number] { // publication date min/max
        width: 6rem;
    }

    .clear-selection {
        cursor: pointer;
    }

    #publication {
        label:nth-child(3) { // "to" in between dates
            margin: 0 1rem;
        }
    }

    #histogram {
        .values {
            display: none;
        }

        .visualization {
            width: 100%;
            height: 60px;
        }

        .max-date {
            float: right;
        }
    }

    #collections {
        @media only screen and (min-width: 768px) {
            width: 45%;
        }

        @media only screen and (min-width: 1440px) {
            width: 55%;
        }

        .button {
            margin-bottom: .5rem;
            margin-right: .5rem;
        }
        label.button {
            display: inline-block;
            font-weight: normal;
        }

        input[type=checkbox], // hide checkboxes
        .button > span { // hide counts
            display: none;
        }
    }

    #booleans {
        @media only screen and (min-width: 768px) {
            width: 55%;
        }

        @media only screen and (min-width: 1440px) {
            width: 45%;
        }

        .field {
            margin-bottom: 0;
        }

        .input {
            width: 100%;
        }
    }

    /* sorting */
    .sort {
        margin-top: 2rem;

        .menu {
            justify-content: space-between;

            .item > input {
                display: none; // hide checkboxes
            }

            span.item { // "SORT BY" text
                padding-left: 0;
                text-transform: uppercase;
            }
        }
    }

    .workscount {
        margin-bottom: 3rem;
    }

    /* results */
    .results-list {
        padding: 1rem 0;
    }
}