@import 'scss/snippets/variables';
@import 'scss/snippets/mixins';
@import 'snippets/search-result';
@import 'snippets/preview-page';
@import 'snippets/pagination';
@import 'snippets/popups';

#search {
    .container {
        @include wide-container();
    }

    .form > fieldset.vertical.segment { // stacked fieldsets
        margin-bottom: 0;
        margin-top: 0;

        &:first-child {
            margin-top: 1em;
        }

        &:last-child {
            margin-bottom: 1em;
        }

        > .twelve.wide.column:not(:nth-of-type(1)) {
            padding-top: 0;
        }
    }

    input[type=number] { // publication date min/max
        width: 5rem;
        padding: 0.5rem;
    }

    .clear-selection {
        cursor: pointer;
        position: absolute;
        bottom: -9rem;

        @media only screen and (min-width: 768px) {
            bottom: 1rem;
        }
    }

    #publication {
        label:nth-child(3) { // "to" in between dates
            margin: 0 1rem;
        }
    }

    #histogram {
        @media only screen and (max-width: 768px) {
            padding-bottom: 3rem !important;
        }

        .values {
            display: none;
        }

        .visualization {
            width: 100%;
        }

        .min-date,
        .max-date{
            color: $midGrey;
        }

        .max-date {
            float: right;
        }
    }

    #collections {
        // @media only screen and (min-width: 768px) {
        //     width: 45%;
        // }

        // @media only screen and (min-width: 1440px) {
        //     width: 55%;
        // }

        .field {
            margin-bottom: -5px;
        }

        .button {
            margin-bottom: 5px;
            margin-right: 8px;
        }
        .ui.button {
            display: inline-block;
        }

        .button > span { // hide counts
            display: none;
        }

        input[type=checkbox] { // hide checkboxes
            width: 0;
            height: 0;
            opacity: 0;
            margin-left: -.49rem; // don't affect button width
        }
    }

    #booleans {
        .inline.field:nth-child(2) .checkbox {
            margin-top: .25rem;
            margin-bottom: .75rem;
        }
    }

    // #booleans {
    //     @media only screen and (min-width: 768px) {
    //         width: 55%;
    //     }

    //     @media only screen and (min-width: 1440px) {
    //         width: 45%;
    //     }

    //     .field {
    //         margin-bottom: 0;
    //     }

    //     .input {
    //         width: 100%;
    //     }
    // }

    /* sorting */
    .sort {
        margin: 2rem 1rem 0;

        .menu {
            display: none;
            justify-content: space-between;

            @media only screen and (min-width: 1069px) {
                display: flex;
            }

            .item {
                text-transform: none;
                cursor: pointer;
            }

            .item > input {
                display: none; // hide checkboxes
            }

            span.item { // "SORT BY" text
                padding-left: 0;
                text-transform: uppercase;
                cursor: initial;
            }
        }
    }

    .mobile-sort {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $gold;
        padding-bottom: .5rem;

        @media only screen and (min-width: 1069px) {
            display: none;
        }

        label { // "SORT BY" text
            text-transform: uppercase;
        }

        .chevron.down.icon {
            transition: all 0.2s ease;
            position: absolute;
            right: .5rem;
            color: black;
            opacity: 0.9;
        }
        
        .active.dropdown .chevron.down.icon {
            transform: rotate(180deg);
        }
    }


    .workscount {
        margin: 2rem auto;
        color: $midGrey;
        font-size: 1rem;

        p:first-child {
            margin-bottom: .5rem;
        }
    }

    /* results */
    .results-list {
        padding: 1rem 0;
    }

    .data {
        display: none;
    }
}