#contributors {
    h1 {
        @include underline-headline($pig-pink);
    }

    @include content-page();

    .cards {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        @media (min-width: $tablet) {
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }

    .board {
        margin-bottom: 1rem;

        h2 {
            width: 287px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1rem;

            @media (min-width: $tablet) {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    .person {
        flex: none;

        @media (min-width: $tablet) {
            width: calc(100% / 3);
            margin: 0;

            &:last-child {
                margin-right: auto;
            }
        }

        .header {
            font-style: normal;
            font-size: 1.5rem;
        }
        
        .rich-text {
            margin: 0;
            
            > * {
                margin: 0;
                font-size: 1rem;
            }
        }
    }

    .person.with-title {
        .title {
            height: 5rem;
            vertical-align: bottom;
            display: table-cell;
            padding-bottom: 1rem;
            font-size: 1.5rem;
        }

        .card {
            margin-bottom: 2rem;
        }
    }

    a.card {
        text-decoration: none;
    }
}