#page {
    color: $dusk;
    margin: 2*$nav-height 0 $nav-height;

    .paper {
        margin-top: $nav-height;
        padding: 40px 60px 80px 60px;
        background: white;
    }

    h1 {
        text-align: center;
        font-size: 40px;
        font-weight: normal;
        margin: 40px 0;
    }

    h2, h3, p {
        font-family: $headerFont;
        font-size: 20px;
    }

    h2 {
        font-weight: bold;
    }

    h3 {
        font-weight: normal;
        font-style: italic;
    }
}