#editorial {
    @include content-page();
    
    ul li::before {
        background-color: $wisteria; // purple-colored list bullets
    }

    h1 {
        @include underline-headline($wisteria);
    }

    .footnotes {
        margin-top: 2rem;
        padding-top: 1rem;
        border-top: 2px solid $wisteria;

        p {
            margin: 0;
        }
        
        * {
            color: $slate-grey;
            @include small-font-scale();
        }
    }

    figure {
        margin: 2rem 0 0;
    }

    figcaption {
        margin-bottom: 4rem;
        text-align: center;

        * {
            color: $slate-grey;
            @include small-font-scale();
        }
    }
}