#header.homepage {
    display: flex;
    justify-content: center;
    margin-top: 2 * $nav-height;
    background-size: 250%;

    @include responsive-banner("/static/img/ppa_pattern_home");
    
    @media (min-width: $tablet) {
        background-size: 150%;
    }

    #scene { // parallax items
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        width: 300px;

        @media (min-width: $tablet) {
            width: 600px;
        }

        .layer {
            height: 100%;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
        }
    }

}

#homepage {
    
    .intro {
        color: $secondaryColor;
        font-size: 16px;
        font-family: $headerFont;
        margin: 3rem 0;
        
        @media (min-width: $tablet) {
            font-size: 20px;
            margin-top: 9rem;
        }

        @media (min-width: $computer) {
            margin-top: 6rem;
        }

        ~ .archive-link > .header {
            padding: 0 0 2rem;
    
            @media (min-width: $tablet) {
                padding: 2rem 0 4rem;
            }
        }
    }

    .asides-collections {
        display: flex;
        flex-direction: column;

        @media (min-width: $computer) {
            flex-direction: row;
            padding: 0;
        }
    }

    .collections {
        @media (min-width: $computer) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1rem;

            .cards .card {
                margin: 1rem auto;
            }
        }
    }
    
    .asides,
    .updates,
    .collections .cards {
        margin: 0 0 2rem 0;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        
        @media (min-width: $tablet) {
            flex-direction: row;
            justify-content: space-between;
            align-items: initial;

            .card:not(.aside):last-child {
                margin-left: auto;
            }
        }
    }

    .asides {
        @media (min-width: $computer) {
            margin-bottom: 0;
        }
    }
    
    .about-header {
        font-size: 26px;
        margin-top: -1rem;
    }
    
    .about-header ~ .description {
        color: $secondaryColor;
        font-size: 18px;
        font-family: $headerFont;
        line-height: normal;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        max-width: 100%;

        @media (min-width: $tablet) {
            margin-bottom: 0;
            max-width: 470px;
        }

        @media (min-width: $computer) {
            max-width: 420px;
            padding: 1rem 0;
        }
    }
    
    .archive-link,
    .about-header,
    .collections-link {
        text-align: center;
        
        > .header {
            font-size: 16px;
            font-weight: normal;
            text-transform: uppercase;
            font-family: $pageFont;
        }
    }
    
    .collections-link > .header {
        padding: 1rem 0 2rem;

        @media (min-width: $tablet) {
            padding: 0 0 1rem;
        }
    }

    .updates ~ .archive-link > .header {
        padding-top: 1rem;
    }
}