#search {
    margin-top: 0;
    
    .container {
        @include wide-container();
    }

    .search {
        padding-bottom: 0;
    }

    .form > .vertical.segment { // stacked fieldsets
        margin-bottom: 0;
        margin-top: 0;

        &:first-child {
            border-bottom: none;
        }

        &:nth-child(2) {
            border-top: 1px solid $lightGrey;
        }

        &:last-child {
            margin-bottom: 1em;
        }

        > .twelve.wide.column:not(:nth-of-type(1)) {
            padding-top: 0 !important;
        }
    }

    .clear.times.icon {
        left: auto;
        right: 0;
        cursor: pointer;
        pointer-events: all;
    }

    .show-advanced {
        background: #fff;
        text-align: center;
        padding-top: 0;

        a {
            color: $secondaryColor;
            margin: auto;
            margin-bottom: 1rem;
            cursor: pointer;
    
            &:hover {
                color: $gold;
            }

            @media (hover: none) {
                &:hover {
                    color: $secondaryColor;
                }
                &:active {
                    color: $gold;
                }
            }

        }

        @media (min-width: $tablet) {
            display: none;
        }
    }

    .advanced {
        display: none;

        @media (min-width: $tablet) {
            display: flex;

            &.column {
                display: inline-block;
            }
        }
    }

    input[type=number] { // publication date min/max
        width: 5rem;
        padding: 0.5rem;
    }

    
    #publication {
        label[for=id_pub_date] { // "Publication Year" text
            @media (min-width: $tablet) {
                display: block;
                margin-bottom: .25rem;
            }

            @media (min-width: $computer) {
                display: inline-block;
                margin-bottom: 0;
            }
        }

        label:nth-child(3) { // "to" in between dates
            margin: 0 .5rem;
            
            @media (min-width: $tablet) {
                margin: 0 1rem;
            }
        }

        input:invalid {
            border-color: red;
            box-shadow: 0 0 4px 0 red;
        }

        .validation {
            visibility: hidden;
            color: red;
        }
    }

    .clear-selection {
        cursor: pointer;
        color: $secondaryColor;
        position: absolute;
        bottom: -.5rem;
        left: 1rem;

        &:hover {
            color: $gold;
        }

        @media (min-width: $tablet) {
            bottom: 1rem;
        }
    }

    #histogram {
        height: 8rem;

        .values {
            display: none;
        }

        .visualization {
            width: 100%;
            height: 4rem;
        }

        .min-date,
        .max-date{
            color: $midGrey;
        }

        .max-date {
            float: right;
        }
    }

    #collections {
        .field {
            margin-bottom: -5px;
        }

        .button {
            margin-bottom: 5px;
            margin-right: 8px;
        }
        .ui.button {
            display: inline-block;
        }

        .button > span { // hide counts
            display: none;
        }

        input[type=checkbox] { // hide checkboxes
            width: 0;
            height: 0;
            opacity: 0;
            margin-left: -.49rem; // don't affect button width
        }
    }

    .zotero a {
        color: $secondaryColor;

        &:hover {
            color: $gold;
        }
    }

    #booleans {
        .inline.field:nth-child(2) .checkbox {
            margin-top: .25rem;
            margin-bottom: .75rem;
        }
    }

    /* sorting */
    .sort {
        margin: 2rem 1rem 0;

        .menu {
            display: none;
            justify-content: space-between;
            flex-direction: column;

            @media (min-width: $computer) {
                display: flex;
                flex-direction: row;
            }

            .item {
                padding: 0;
                margin: 0;
                text-transform: none;
                border: none;
                cursor: pointer;

                @media (min-width: $computer) {
                    margin: 1rem;
                }
            }

            .item > input {
                display: none; // hide checkboxes
            }

            span.item { // "SORT BY" text
                margin-left: 0;
                text-transform: uppercase;
                cursor: initial;
            }
        }
    }

    .mobile-sort {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $gold;
        padding-bottom: .5rem;

        @media (min-width: $computer) {
            display: none;
        }

        label { // "SORT BY" text
            text-transform: uppercase;
        }

        .chevron.down.icon {
            transition: all 0.2s ease;
            position: absolute;
            right: .5rem;
            color: black;
            opacity: 0.9;
        }
        
        .active.dropdown .chevron.down.icon {
            transform: rotate(180deg);
        }
    }


    .workscount {
        margin: 2rem auto;
        color: $midGrey;
        font-size: 1rem;

        p:first-child {
            margin-bottom: .5rem;
        }
    }

    /* results */
    .results-list {
        padding-bottom: 2rem;
    }

    .data {
        display: none;
    }
}