.work-type.icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    
    &[aria-label=article] {
        background-image: url("/static/img/icons/article.svg");
        width: 40px;
        height: 56px;

        @media (min-width: $computer) {
            width: 62px;
            height: 88px;
        }
    }

    &[aria-label=excerpt] {
        background-image: url("/static/img/icons/excerpt.svg");
        width: 58px;
        height: 35px;

        @media (min-width: $computer) {
            width: 92px;
            height: 65px;
        }
    }
}