{% extends 'pages/content_page.html' %}
{% load wagtailcore_tags %}

{% block page-context-id %}list-editorial{% endblock %}

{% block page_nav %}
    {% include 'snippets/nav.html' with style="editorial" active="editorial" %}
{% endblock %}

{% block page_header %}
    {% include 'snippets/header.html' with style='editorial' %}
{% endblock %}

{% block content %}
<div class="ui vertical basic segment">
    <div class="ui text container">
        <h1 class="ui header">
            {% firstof page.title page_title object.title %}
        </h1>
        <div class="page-description">{{ page.intro|richtext }}</div>
    </div>
</div>
<div class="ui vertical basic segment">
    <div class="pagination ui container">
        {% comment %} {% include 'archive/snippets/pagination.html' %} {% endcomment %}
    </div>
    <div class="ui text container">
        <div class="updates ui cards">
            {% for post in posts %}
            <a class="ui post card" href="{{ post.url }}">
                <div class="content">
                    <div class="header">{{ post.title }}</div>
                    <div class="meta">{% include 'editorial/snippets/attribution.html' with page=post %}</div>
                    <div class="description">
                        {{ post.get_description|richtext }}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="pagination ui container">
        {% comment %} {% include 'archive/snippets/pagination.html' %} {% endcomment %}
    </div>
</div>
{% endblock %}
