{% extends 'pages/content_page.html' %}
{% load static wagtailcore_tags %}

{% block page-context-id %}editorial{% endblock %}

{% block meta_title %}{% firstof page.seo_title page.title %}{% endblock %}
{% block meta_description %}{{ page.get_plaintext_description }}{% endblock %}
{# keywords for meta not yet implemented in wagtail #}

{% block metadata %}
<meta name="citation_title" content="{{ page.title|escape }}" />
{# should have original pub date and citation_online_date for reposted content... #}
<meta name="citation_publication_date" content="{{ page.first_published_at|date:"Y/m/d" }}" />
{% for block in page.authors %}
<meta name="citation_author" content="{{ block.value.name|escape }}" />
{% if block.value.orcid %}
<meta name="citation_author_orcid" content="{{ block.value.orcid }}" />
{% endif %}
{% endfor %}
{% for block in page.editors %}
<meta name="citation_editor" content="{{ block.value.name|escape }}" />
{% if block.value.orcid %}
<meta name="citation_editor_orcid" content="{{ block.value.orcid }}" />
{% endif %}
{% endfor %}
<meta name="citation_journal_title" content="Princeton Prosody Archive"/>
<meta name="citation_journal_abbrev" content="PPA"/>
<meta name="citation_publisher" content="Center for Digital Humanities, Princeton University" />
<meta name="citation_public_url" content="{{ request.build_absolute_uri }}" />
{% if page.doi %}<meta name="citation_doi" content="{{ page.doi }}"/>{% endif %}
{% if page.pdf %}
<meta name="citation_pdf_url" content="{{ page.pdf }}" />
{% endif %}
<meta name="citation_issn" content="2769-3619">
{% endblock %}

{% block page_header %}
    {% include 'snippets/header.html' with style='editorial' %}
{% endblock %}

{% block page_nav %}
    {% include 'snippets/nav.html' with style="editorial" active="editorial" %}
{% endblock %}

{% block attribution %}
    {% include 'editorial/snippets/attribution.html' with page=page add_urls=True full=True %}
{% endblock %}

{% block content %}
    {#* elements for PDF header & footer; must occur BEFORE content #}
    <section class='print-only'>
        <a class="page-header" href="{{ site.domain }}">
            <img src="{% static 'img/logotype/logotype.svg' %}" alt="Princeton Prosody Archive" />
        </a>

        {% if page.doi %}
         <a href="http://doi.org/{{ page.doi }}" rel="alternate" class="page-doi">doi:{{ page.doi }}</a>
        {% endif %}
    </section>
    {{ block.super }}
{% endblock %}
