{% extends 'pages/content_page.html' %}
{% load static wagtailcore_tags %}

{% block page-context-id %}editorial{% endblock %}

{% block meta_title %}{% firstof page.seo_title page.title %}{% endblock %}
{% block meta_description %}{{ page.get_plaintext_description }}{% endblock %}
{# keywords for meta not yet implemented in wagtail #}

{% block metadata %}
<meta property="citation_title" content="{{ page.title|escape }}" />
{# should have original pub date and citation_online_date for reposted content... #}
<meta property="citation_publication_date" content="{{ page.first_published_at|date:"Y/m/d" }}" />
{% for block in page.authors %}
<meta property="citation_author" content="{{ block.value.name|escape }}" />
{% endfor %}
<meta property="citation_publisher" content="Center for Digital Humanities at Princeton" />
<meta property="citation_public_url" content="{{ request.build_absolute_uri }}" />
{% endblock %}

{% block page_header %}
    {% include 'snippets/header.html' with style='editorial' %}
{% endblock %}

{% block page_nav %}
    {% include 'snippets/nav.html' with style="editorial" active="editorial" %}
{% endblock %}

{% block attribution %}
    {% include 'editorial/snippets/attribution.html' with page=page add_urls=True full=True %}
{% endblock %}

{% block page_footer %}
    {#* elements for PDF header & footer #}
    <section class='print-only'>
        <a class="first-page-header" href="{{ site.domain }}">
            <img class="ppa-logo" src="{% static 'img/logos/filled/logo-filled-monochrome.svg' %}" alt="Princeton Prosody Archive" />
        </a>

        <a class="page-header" href="{{ site.domain }}">
            <img class="ppa-logo" src="{% static 'img/logos/filled/logo-filled-monochrome.svg' %}" alt="Princeton Prosody Archive" />
        </a>

        {% if page.doi %}
         <a href="http://doi.org/{{ .page.doi }}" rel="alternate" class="page-doi">doi:{{ page.doi }}</a>
        {% endif %}
    </section>
    {{ block.super }}
{% endblock %}
