{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}
    {{ block.super }}
    {% include 'snippets/test_banner.html' %}
    <div id="sw-version">v. {{ SW_VERSION }}</div>
{% endblock %}

 {% block userlinks %}
    {# could link directly to public archive view here #}
    {{ block.super }}
 {% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/test-banner.css" %}" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}" />
       <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
{% endblock %}
