{% extends "base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/page.scss' %}">
{% endblock %}

{% block page-context-id %}page{% endblock %}

{% block title %}Page not Found{% endblock %}

{% block page_header %}
    {% with page_title="404 Error" %}
    {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
<div class="ui vertical basic segment">
    <div class="ui text container">
        <p>Page not found. Return to <a href="{% url 'home' %}">homepage</a>.</p>
    </div>
</div>
{% endblock %}
