{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/page.scss' %}">
{% endblock %}

{% block page-context-id %}page{% endblock %}

{% block title %}Server error{% endblock %}

{% block page_header %}
    {% with page_title="Error 500" %}
    {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
<div class="ui vertical basic segment">
    <div class="ui text container">
        <p>This page doesn’t scan correctly. Try trochees.</p>
    </div>
</div>
{% endblock %}
