{% spaceless %}
<div class="pagination ui grid container">
    <div class="items-per-page">
        <label class="display-label">Display</label>
        <a class="ui active basic button">{{ page_obj.paginator.per_page }}</a>
        <label class="results-label">Results</label>
    </div>
    <div class="page-controls">
            {# previous link at first (disabled if no previous)  #}
            {% if page_obj.has_previous %}
            <a name="previous page" title="previous page" rel="prev" class="ui icon basic button" href="?{% querystring_replace page=page_obj.previous_page_number %}">
                <i class="chevron left icon"></i>
            </a>
            {% else %}
            <a name="previous page" title="previous page" class="ui disabled icon basic button">
                <i class="chevron left icon"></i>
            </a>
            {% endif %}

            {% for number in page_obj.paginator.page_range %}

                {#  always display current page, marked as active #}
                {% if number == page_obj.number %}
                    <a title="page {{number}}" class="ui active basic button" href="?{% querystring_replace page=number %}">{{ number }}</a>

                {# for current page 1 or 2, display first 5 #}
                {% elif page_obj.number <= 2  and number <= 5 %}
                    <a title="page {{number}}" class="ui basic button" href="?{% querystring_replace page=number %}">{{ number }}</a>

                {# for current page last or next to last, display last 5 pages #}
                {% elif page_obj.number|add:1 >= page_obj.paginator.num_pages and number >= page_obj.paginator.num_pages|add:-4 %}
                    <a title="page {{number}}" class="ui basic button" href="?{% querystring_replace page=number %}">{{ number }}</a>

                {# display the two numbers before and after the current page #}
                {% elif page_obj.number|add:2 >= number and page_obj.number|add:-2 <= number %}
                    <a title="page {{number}}" class="ui basic button" href="?{% querystring_replace page=number %}">{{ number }}</a>

                {# always display the first page (not current page) #}
                {% elif forloop.first %}
                  <a title="page {{number}}" class="ui basic button" href="?{% querystring_replace page=number %}">{{ number }}</a>
                  {# if there is a gap between 1 and group around current page #}
                  {% if page_obj.number > 4 and page_obj.paginator.num_pages > 6 %}
                  <span>...</span>
                  {% endif %}

                {# always display last page (not current, not around current page) #}
                {% elif forloop.last %}
                  {# indicate if there is a gap between current and last #}
                  {% if page_obj.number|add:3 < number and number > 6 %}
                  <span>...</span>
                  {% endif %}
                  <a title="page {{number}}" class="ui basic button" href="?{% querystring_replace page=number %}">{{ number }}</a>
                {% endif%}
            {% endfor %}

            {# next link at end (disabled if no next)  #}
            {% if page_obj.has_next %}
            <a name="next page" title="next page" rel="next" class="ui icon basic button" href="?{% querystring_replace page=page_obj.next_page_number %}">
                <i class="chevron right icon"></i>
            </a>
            {% else %}
            <a name="next page" title="next page" class="ui disabled icon basic button">
                <i class="chevron right icon"></i>
            </a>
            {% endif %}
    </div>
</div>
{% endspaceless %}