{% load semanticui humanize static %}
<form class="ui form{% if error %} error{% endif %}">
    <div class="ui vertical stackable grid segment">
        <div class="twelve wide column">
            {% render_field search_form.query %}
            <span class="question-popup" data-html="{{ search_form.QUESTION_POPUP_TEXT }}" data-position="top center">
                <i class="ui question circle icon"></i>
            </span>
        </div>
        <div class="twelve wide column advanced">
            <div class="two fields">
                {% render_field search_form.title %}
                {% render_field search_form.author %}
            </div>
        </div>
    </div>
    <div class="ui vertical stackable grid segment advanced">
        <div class="four wide column" id="publication">
            {% render_field search_form.pub_date %}
            <span class="validation">
                {{ search_form.pubdate_validation_msg }}
            </span>
            <button class="clear-selection" type="button">Clear Selection</button>
        </div>
        <div class="eight wide column" id="histogram">
            <canvas class="visualization" height="60" width="600"></canvas>
            <span class="min-date"></span>
            <span class="max-date"></span>
        </div>
    </div>
    <div class="ui vertical stackable basic grid segment">
        <div class="twelve wide column" id="collections">
            <fieldset class="field">
                <legend>Collections</legend>
                <div class="inner">
                    {% for collection in search_form.collections %}
                    <label class="ui button{% if collection.data.selected %} active{% endif %}">
                        {{ collection.choice_label }}
                        {{ collection.tag }}
                    </label>
                    {% endfor %}
                    <div class="spacer"></div>
                </div>
            </fieldset>
        </div>
        {% comment %}
        <div class="six wide column" id="booleans">
            <div class="two fields">
                <div class="field">
                    <label>Only display</label>
                    {% render_field search_form.earliest_only %}
                    {% render_field search_form.ace_only %}
                </div>
                <div class="field">
                    <label>Exclude</label>
                    {% render_field search_form.dict_exclude %}
                    {% render_field search_form.pg_exclude %}
                </div>
            </div>
        </div>
        {% endcomment %}
    </div>
    <div class="ui vertical basic segment show-advanced">
        <button type="button">
            <img class="dropdown icon" src="{% static 'img/icons/RightChevron.svg' %}" alt="">
            Advanced Search
            <span class="search-active">●</span>
        </button>
    </div>
    <input type="submit" class="sr-only sr-only-focusable" aria-label="submit search">
    <div class="workscount ui center aligned text container">
        <p class="count">Displaying {{ paginator.count|intcomma }} digitized work{{ paginator.count|pluralize }}</p>
        <p class="zotero">Work citations can be exported to <a href="https://www.zotero.org/support/getting_stuff_into_your_library">Zotero</a></p>
        <div class="loader">
            <div id="bm"></div>
            <span>Results are loading</span>
        </div>
    </div>
    <div class="pagination-sort">
        {% include 'archive/snippets/pagination.html' %}
        {% include 'archive/snippets/sort.html' %}
    </div>
</form>