{% load static %}

<div class="sort">
    <label for="sort-select">Sort By</label>
    <div class="ppa-select" data-controller="select" data-select-target="container">
        <select id="sort-select"
                name="sort"
                data-select-target="input"
                data-search-target="sortInput"
                data-action="change->select#onChange">
            {% for sort in search_form.sort %}
            <option value="{{ sort.data.value }}"
                    {% if sort.data.selected %}selected{% endif %}
                    {% if sort.data.attrs.disabled %}disabled{% endif %}
                    {% if sort.data.value == "relevance" %}data-search-target="relevanceOption"{% endif %}>
                {{ sort.choice_label }}
            </option>
            {% endfor %}
        </select>
        <span class="select-label" aria-hidden="true">
            {% for sort in search_form.sort %}
                {% if sort.data.selected %}{{ sort.choice_label }}{% endif %}
            {% endfor %}
        </span>
        <img class="chevron icon" src="{% static 'img/icons/RightChevron.svg' %}" alt="">
    </div>
    <noscript>{{ search_form.sort }}</noscript>
</div>
