{% load static %}

<div class="sort">
    <label for="sort">Sort By</label>
    <div class="ui selection dropdown" id="sort">
        <img class="chevron icon"
            src="{% static 'img/icons/RightChevron.svg' %}" alt="">
        <input type="hidden" name="sort">
        <div class="text">
        {% for sort in search_form.sort %}
            {% if sort.data.selected %}
                {{ sort.choice_label }}
            {% endif %}
        {% endfor %}
        </div>
        <div class="menu">
            {% for sort in search_form.sort %}
            <div class="item{% if sort.data.selected %} active{% endif %}"
                data-value="{{ sort.data.value }}">
                {{ sort.choice_label }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>