{% load static %}

<div class="about ui simple item dropdown{% if active == 'about' %} triangle{% endif %}">
    <div class="text">About</div>
    <img class="dropdown icon" src="{% static 'img/icons/RightChevron.svg' %}" alt="">
    <div class="menu submenu">
        {# NOTE: currently relies on editorial not having show_in_menu set #}
        {% for page in request.site.root_page.get_children.live.in_menu %}
        <div class="item"><a href="{{ page.url }}">{{ page.title }}</a></div>
        {% endfor %}
    </div>
</div>