<footer class="ui basic inverted segment centered grid" id="footer">
    <nav class="ui inverted stackable borderless menu">
        <a class="item" href="/history-of-the-archive/">History of the Archive</a>
        <a class="item" href="/what-is-prosody/">What is Prosody</a>
        <a class="item" href="{% url 'archive:list-collections'%}">About the Collections</a>
        <a class="item">Editorial</a>
        <a class="item" href="{% url 'archive:list' %}">View the Archive</a>
    </nav>
    <div class="ui inverted horizontal link list row">
        <a class="item" href="/credits/">Contributors and Board Members</a>
        <a class="item">Contact</a>
        <a class="item" href="/how-to-cite/">How to Cite</a>
    </div>
    <div class="ui inverted horizontal list row">
        <a class="item">
            <div class="placeholder"></div>
        </a>
        <a class="item">
            <div class="placeholder"></div>
        </a>
    </div>
    <div class="ui container">
        <div class="contact ui inverted horizontal link list">
            <span class="item">©2018 Trustees of Princeton University</span>
            <a class="item" href="https://accessibility.princeton.edu/">Accessibility</a>
            <a class="item" href="https://accessibility.princeton.edu/accessibility-assistance">Accessibility Assistance</a>
            <span class="item" id="sw_version">{{ SW_VERSION }}</span>
        </div>
    </div>
</footer>