{% load static wagtailcore_tags %}
<footer class="ui basic inverted segment centered grid" id="footer">
    <div class="ui container">
        <nav class="ui inverted borderless menu">
            <a class="item" href="{% slugurl 'home' %}">Home</a>
            <a class="item" href="{% slugurl 'editorial' %}">Editorial</a>
            <a class="item" href="{% slugurl 'collections' %}">Collections</a>
            <a class="item" href="{% url 'archive:list' %}">Archive</a>
        </nav>
        <div class="ui inverted horizontal link list">
            {% for page in request.site.root_page.get_children.live.in_menu %}
            <a class="item" href="{{ page.url }}">{{ page.title }}</a>
            {% endfor %}
        </div>
        <img class="ppa-logo" src="{% static 'img/logos/filled/logo-filled-monochrome.svg' %}" alt="Princeton Prosody Archive" />
        <div class="ui inverted horizontal list">
            <a class="item ui small image" href="https://www.princeton.edu/">
                <img src="{% static 'img/logos/pu-logo.svg' %}" alt="Princeton University" />
            </a>
            <a class="item ui tiny image" href="https://cdh.princeton.edu/">
                <img src="{% static 'img/logos/cdh-logo.svg' %}" alt="The Center for Digital Humanities at Princeton" />
            </a>
        </div>
        <div class="media">
            <div class="left">
                <a class="license" href="https://creativecommons.org/licenses/by/4.0/">
                    <img src="{% static 'img/logos/cc-by.svg' %}" alt="content licensed under Creative Commons CC-BY">
                </a>
                <span class="issn">ISSN: 2769-3619</span>
            </div>
            <div class="right">
                <a href="https://www.facebook.com/ProsodyArchive/">
                    <img src="{% static 'img/icons/facebook.svg' %}" alt="ProsodyArchive on Facebook"/>
                </a>
                <a href="https://twitter.com/ProsodyArchive">
                    <img src="{% static 'img/icons/twitter.svg' %}" alt="ProsodyArchive on Twitter"/>
                </a>
                <a href="https://www.instagram.com/prosodyarchive/">
                    <img src="{% static 'img/icons/instagram.svg' %}" alt="ProsodyArchive on  Instagram"/>
                </a>
            </div>
        </div>
        <div class="contact ui inverted horizontal link list">
            <span class="item">&copy; {% now 'Y' %} Trustees of Princeton University</span>
            <a class="item" href="https://accessibility.princeton.edu/accessibility-assistance">Accessibility Assistance</a>

            {# link to technical documentation page, if it exists #}
            {% slugurl 'technical' as technical_url %}
            {% if technical_url %}
            <a class="item" href="{{ technical_url }}">Technical</a>
            {% endif %}

            <span class="item" id="sw_version">{{ SW_VERSION }}</span>
        </div>
    </div>
</footer>