{% load static %}
<!-- mobile navigation -->
<nav class="ui top sidebar vertical borderless menu {{ style }}" id="mobile-nav">
    <span class="item">About</span>
    <a class="item">Editorial</a>
    <a class="item" href="{% url 'archive:list-collections'%}">Collections</a>
    <a class="item" href="{% url 'archive:list' %}">Archive</a>
</nav>
<!-- main navigation -->
<nav class="ui top fixed borderless menu {{ style }}" id="main-nav">
    <a class="toc item" id="toc">
        <img class="menu icon" src="{% static 'img/icons/Menu.svg' %}" alt="">
        <img class="close icon" src="{% static 'img/icons/Delete.svg' %}" alt="">
    </a>
    <span class="about item {% if active == 'about' %}active{% endif %}">
        About
        <img class="dropdown icon" src="{% static 'img/icons/RightChevron.svg' %}" alt="">
    </span>
    <a class="editorial item {% if active == 'editorial' %}active{% endif %}">
        Editorial
    </a>
    <div class="ui header brand">
        <a href="/">
        </a>
    </div>
    <div class="right menu">
        <a class="collections item {% if active == 'collections' %}active{% endif %}"
            href="{% url 'archive:list-collections'%}">Collections
        </a>
        <a class="archive item {% if active == 'archive' %}active{% endif %}"
            href="{% url 'archive:list' %}">
            Archive
            <img class="search icon" src="{% static 'img/icons/Search.svg' %}" alt="">
        </a>
        <a class="search item" href="{% url 'archive:list' %}" title="search">
            <img class="search icon" src="{% static 'img/icons/Search.svg' %}" alt="">
        </a>
    </div>
</nav>
