{% load static wagtailcore_tags %}

<!-- mobile navigation -->
<nav class="ui top sidebar vertical borderless menu {{ style }}" id="mobile-nav">
    {% include 'snippets/about.html' %}
    <a class="item" href="{% slugurl 'editorial' %}">Editorial</a>
    <a class="item" href="{% slugurl 'collections'%}">Collections</a>
    <a class="item" href="{% url 'archive:list' %}">
        Archive
        <img class="search icon"
            src="{% static 'img/icons/Search.svg' %}" alt="">
    </a>
</nav>

<!-- main navigation -->
<nav class="ui top fixed borderless menu {{ style }}" id="main-nav">
    <a class="toc item" id="toc">
        <img class="menu icon" src="{% static 'img/icons/Menu.svg' %}"
            alt="open menu">
        <img class="close icon" src="{% static 'img/icons/Delete.svg' %}"
            alt="close menu">
    </a>
    {% include 'snippets/about.html' %}
    <a href="{% slugurl 'editorial' %}"
        class="editorial item{% if active == 'editorial' %} active{% endif %}">
        Editorial
    </a>
    <div class="ui header brand">
        <a class="item" href="{% slugurl 'home' %}">
            <img src="{% static 'img/ppaLogoType_NavBar_Revised.svg' %}" alt="home">
        </a>
    </div>
    <div class="right menu">
        <a class="collections item{% if active == 'collections' %} active{% endif %}"
            href="{% slugurl 'collections' %}">Collections
        </a>
        <a class="archive item{% if active == 'archive' %} active{% endif %}"
            href="{% url 'archive:list' %}">
            Archive
            <img class="search icon"
                src="{% static 'img/icons/Search.svg' %}" alt="">
        </a>
        <a class="search item" href="{% url 'archive:list' %}">
            <img class="search icon"
                src="{% static 'img/icons/Search.svg' %}" alt="search">
        </a>
    </div>
</nav>
