<!-- mobile navigation -->
<nav class="ui top sidebar inverted vertical borderless menu" id="mobile-nav">
    <a class="item" href="/history-of-the-archive/">History of the Archive</a>
    <a class="item" href="/what-is-prosody/">What is Prosody</a>
    <a class="item" href="{% url 'archive:list-collections'%}">About the Collections</a>
    <a class="item" href="#">Editorial</a>
    <a class="item" href="{% url 'archive:list' %}">View the Archive</a>
</nav>
<!-- main navigation -->
<nav class="ui top fixed inverted borderless menu" id="main-nav">
    <a class="toc item">
        <i class="sidebar icon"></i>
        <i class="times icon" style="display:none;"></i>
    </a>
    <a class="item" href="/history-of-the-archive/">History of the Archive</a>
    <a class="item" href="/what-is-prosody/">What is Prosody</a>
    <div class="brand">
        <a class="item" href="/">PPA</a>
    </div>
    <div class="right menu">
        <a class="item" href="{% url 'archive:list-collections'%}">About the Collections</a>
        <a class="item">Editorial</a>
        <a class="item" href="{% url 'archive:list' %}">
            View the Archive
            <i class="search icon"></i>
        </a>
        <a class="search item" href="{% url 'archive:list' %}">
            <i class="search icon"></i>
        </a>
    </div>
</nav>
