@mixin responsive-banner($src, $color) {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color: $color;
    mask-position: top;
    mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-position: top;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    z-index: -1;
    
    // small 1x and 2x
    min-height: $banner-height;
    mask-image: url("#{$src}_S@1x.png");
    -webkit-mask-image: url("#{$src}_S@1x.png");
    
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        mask-image: url("#{$src}_S@2x.png");
	    -webkit-mask-image: url("#{$src}_S@2x.png");
    }

    // medium 1x and 2x
    @media (min-width: $tablet) {
        min-height: $banner-height-m;
        mask-image: url("#{$src}_M@1x.png");
        -webkit-mask-image: url("#{$src}_M@1x.png");
        
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            mask-image: url("#{$src}_M@2x.png");
	        -webkit-mask-image: url("#{$src}_M@2x.png");
        }
    }

    // large 1x and 2x
    @media (min-width: $computer) {
        min-height: $banner-height-l;
        mask-image: url("#{$src}@1x.png");
        -webkit-mask-image: url("#{$src}@1x.png");
        
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            mask-image: url("#{$src}@2x.png");
	        -webkit-mask-image: url("#{$src}@2x.png");
        }
    }
}

@mixin notes-header($color) {
    .banner {
        @include responsive-banner("/static/img/ppa_pattern_home", $color);
    }
}

@mixin underline-headline($color) {
    border-bottom: 5px solid $color;
    font-size: 2rem;
    font-weight: normal;
    margin: 6rem 0 2rem;
    padding-bottom: 1rem;

    @media (min-width: $tablet) {
        font-size: 3rem;
        margin: 8rem 0 2rem;
    }

    @media (min-width: $largeMonitor) {
        width: 1000px;
    }
}

@mixin wide-container() {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;

    @media (min-width: $computer) {
        width: 1020px;
    }
}

@mixin triangle-overlay($color) {
    height: 0;
    width: 0;
    left: calc(100% - 50px);
    border-right: 25px solid $color;
    border-bottom: 25px solid $color;
    border-top: 25px solid transparent;
    border-left: 25px solid transparent;
    z-index: -1;
    opacity: 0.5;
}

@mixin link() {
    color: $french-blue;
    border-bottom: 2px solid $french-blue;
    cursor: pointer;
}

@mixin font-smooth() {
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@mixin no-font-smooth() {
    font-smoothing: never;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
}
