@mixin responsive-banner($src) {
    background-position: top;
    background-repeat: no-repeat;
    
    // small 1x and 2x
    min-height: $banner-height;
    background-image: url("#{$src}_S@1x.png");
    @media (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi) {
        background-image: url("#{$src}_S@2x.png");
    }

    // medium 1x and 2x
    @media (min-width: $tablet) {
        min-height: $banner-height-m;
        margin-bottom: -30px;
        background-image: url("#{$src}_M@1x.png");
        @media (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi) {
            background-image: url("#{$src}_M@2x.png");
        }
    }

    // large 1x and 2x
    @media (min-width: $computer) {
        margin-bottom: -140px;
        min-height: $banner-height-l;
        background-image: url("#{$src}@1x.png");
        @media (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi) {
            background-image: url("#{$src}@2x.png");
        }
    }
}

@mixin wide-container() {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;

    @media (min-width: $computer) {
        width: 1020px;
    }
}

@mixin triangle-overlay($color) {
    height: 0;
    width: 0;
    left: calc(100% - 50px);
    border-right: 25px solid $color;
    border-bottom: 25px solid $color;
    border-top: 25px solid transparent;
    border-left: 25px solid transparent;
    z-index: -1;
    opacity: 0.5;
}

@mixin font-smooth() {
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@mixin no-font-smooth() {
    font-smoothing: never;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
}
