$nav-height: 50px;
$nav-breakpoint: 1068px; // point at which we switch to mobile nav

$green        : #254E2E;
$gold         : #A98f5f;
$lightGreen   : #07AE79;
$lightGold    : #CDAD7E;
$lightestGrey : #E9E9E9;
$lightGrey    : #D8D8D8;
$midGrey      : #737373;
$darkGrey     : #5C5C63;
$darkestGrey  : #363636;
$melon        : #FF675D;
$dusk         : #444867;
$teal         : #57C4C4;
$darkBlue     : #4661AC;
$blue         : #0788FC;
$pink         : #F05B69;

$primaryColor: $darkBlue;
$secondaryColor: $dusk;

// breakpoints
$mobile: 320px;
$tablet: 735px;
$computer: 1068px;
$largeMonitor: 1440px;
$widescreenMonitor: 1920px;

// banner
$banner-height: 230px;
$banner-height-m: 400px;
$banner-height-l: 570px;

// typography
$pageFont              : Helvetica, sans-serif;
$headerFont            : 'Gentium Book Basic', Palatino, serif;