@import 'snippets/variables';
@import 'snippets/mixins';

/* homepage */

#header {
    display: flex;
    justify-content: center;
    margin-top: 3 * $nav-height;
    background-size: 150%;

    @include responsive-banner("/static/img/ppa_pattern_home");
    
    @media (min-width: $tablet) {
        background-size: 100%;
        margin-top: 2 * $nav-height;
    }

    @media (min-width: $largeMonitor) {
        background-size: 150%;
    }

    #scene {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        width: 300px;

        @media (min-width: $tablet) {
            width: 600px;
        }

        .layer {
            height: 100%;
            // position: absolute;
            // right: 0;
            // margin: auto;
        }
    }

}

#homepage {
    
    .intro {
        color: $secondaryColor;
        font-size: 16px;
        font-family: $headerFont;
        margin: 3rem 0;
        
        @media (min-width: $tablet) {
            font-size: 20px;
            margin-top: 9rem;
        }

        @media (min-width: $computer) {
            margin-top: 6rem;
        }
    }
    
    .column {
        &.cards {
            display: flex;
            justify-content: space-between;
        }
        
        &:not(.cards) {
            padding-left: 0;
            padding-right: 0;
        }
        
        .card {
            @media only screen and (max-width: 768px) {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    
    .updates {
        margin-bottom: 2rem;
        justify-content: center;
        
        @media only screen and (min-width: 1069px) {
            justify-content: space-between;
        }
        
        ~ .archive-link > .header {
            padding-top: 1rem;
        }
    }
    
    .about-header {
        font-size: 26px;
        margin-top: -1rem;
    }
    
    .about-header ~ .description {
        color: $secondaryColor;
        font-size: 18px;
        font-family: $headerFont;
        line-height: normal;
        margin-bottom: 2rem;
    }
    
    .archive-link,
    .about-header,
    .collections-link {
        text-align: center;
        
        > .header {
            font-size: 16px;
            font-weight: normal;
            text-transform: uppercase;
            font-family: $pageFont;
        }
    }
    
    .collections-link > .header {
        padding: 2rem 0 1rem;
    }
    
    .intro ~ .archive-link > .header {
        padding: 2rem 0 4rem;
    }
}