@import 'snippets/variables';
@import 'snippets/mixins';

/* homepage */

#header {
    background-image: url("/static/img/PPA_banner_006@1X.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding-top: 0;

    // 2x screen resolution
    @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
        background-image: url("/static/img/PPA_banner_006@2X.png");
    }

    h1, h2 {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: normal;
        font-style: italic;
    }

    @media only screen and (min-width: 768px) {
        height: 35rem;

        h1 {
            top: 15rem;
            font-size: 3rem;
        }
        h2 {
            font-size: 3rem;
        }
    }
    
    @media only screen and (min-width: 1440px) {
        height: 60rem;

        h1 {
            top: 30.5rem;
            font-size: 5rem;
        }
        h2 {
            top: 33.5rem;
            font-size: 5rem;
        }
    }
}

#homepage {

    
    .intro {
        color: $green;
        font-size: 20px;
        font-family: $headerFont;
    }

    .intro {
        margin: 3rem 0;
    }

    .updates {
        margin-bottom: 2rem;
        justify-content: center;
    }

    .about-header {
        font-size: 26px;
        margin-top: -1rem;
    }

    .about-header ~ .description {
        color: $green;
        font-size: 18px;
        font-family: $headerFont;
        line-height: normal;
    }

    .archive-link,
    .about-header,
    .collections-link {
        text-align: center;

        > .header {
            font-size: 26px;
        }
    }

    .collections-link > .header {
        padding: 2rem 0;
    }
}