@import 'scss/snippets/variables';

#page {
    color: $dusk;
    margin: $nav-height 0;

    .paper {
        margin-top: $nav-height;
        padding: 40px 60px 80px 60px;
        background: white;
    }

    h1 {
        text-align: center;
        font-size: 40px;
        font-weight: normal;
        margin: 40px 0;
    }

    p {
        font-family: $headerFont;
        font-size: 20px;
    }
}