@import 'snippets/variables';
@import 'snippets/a11y';
@import 'snippets/mixins';
@import 'snippets/footer';

/* container */
.pushable > .pusher {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

/* mobile nav */
#mobile-nav {
    top: $nav-height !important; // have to override SUI's !important
}

/* main nav */
#main-nav {
    padding: 0;
    z-index: 103; // above mobile nav
    transition: margin-top 0.25s;

    &.hidden {
        margin-top: -$nav-height;
    }

    .brand {
        width: 100%;
        height: $nav-height;
        display: flex;
        position: absolute;
        justify-content: center;
        margin: 0;
        
        .item {
            font-weight: bold;
            display: flex;
            font-size: 2rem;
            padding: .5rem;
        }
    }
    
    .item {
        z-index: 1;
        display: none;

        @media only screen and (min-width: $nav-breakpoint) {
            display: flex;
        }

        &.toc,
        &.search {
            display: flex;

            @media only screen and (min-width: $nav-breakpoint) {
                display: none;
            }
        }
    }

    .search.icon {
        margin-left: .25rem;
    }
}

/* header */
#header { // currently only used for "archive" text on search page
    margin-top: $nav-height;
    padding-top: $nav-height;

    .sub.header {
        font-size: 20px;
    }

    .header:not(.sub) {
        font-size: 40px;
        font-weight: normal;
        text-transform: uppercase;

        @media (min-width: $tablet) {
            font-size: 60px;
        }
    }
}

/* main */
main {
    flex: 1;
    margin-top: $nav-height;
    margin-bottom: 2rem;

    @media (min-width: $tablet) {
        margin-bottom: 100px;
    }
}

// misc
.fermata {
    fill: $primaryColor;
    height: 1.5rem;
    vertical-align: middle;
    padding-right: .5rem;
}

* {
    // render fonts to match the spec
    @include font-smooth();
}