// this will go into component customization later
$nav-height: 40px;

/* mobile nav */
#mobile-nav {
    top: $nav-height !important; // have to override SUI's !important

    .item {
        text-transform: uppercase;
    }
}

/* main nav */
#main-nav {
    padding: 0;
    z-index: 103; // above mobile nav
    transition: margin-top 0.25s;

    &.hidden {
        margin-top: -$nav-height;
    }

    .brand {
        width: 100%;
        display: flex;
        position: absolute;
        justify-content: center;

        .item {
            display: flex;
            font-size: 1.8rem;
            padding: .5rem;
        }
    }
    
    .item {
        z-index: 1;
        text-transform: uppercase;
        display: none;

        @media only screen and (min-width: 1440px) {
            display: flex;
        }

        &.toc,
        &.search {
            display: flex;

            @media only screen and (min-width: 1440px) {
                display: none;
            }
        }
    }

    .search.icon {
        margin-left: .25rem;
    }
}

/* footer */
#footer {
    margin-bottom: 0;
    padding: 1rem 0;
    
    .placeholder {
        background-color: grey;
        width: 120px;
        height: 80px;
    }

    .menu {
        justify-content: center;
        flex-wrap: wrap;
    }

    .menu .item {
        text-transform: uppercase;

        @media only screen and (max-width: 768px) {
            justify-content: center;
        }
    }

    .link.list {
        @media only screen and (max-width: 320px) {
            flex-direction: column;
        }
    }

    .contact {
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media only screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    #sw_version {
        @media only screen and (min-width: 768px) {
            margin-left: auto;
        }
    }
}

/* main */
.pusher {
    margin-top: $nav-height;
}