#contributors {
    .page-title {
        @include underline-headline($pig-pink);
    }

    @include content-page;

    .team > h1,
    .board > h1 {
        font-size: 1.4rem;
        font-family: $pageFont;
        padding: 0;
    }

    .cards {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        @media (min-width: $tablet) {
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }
}