@import 'scss/snippets/variables';
@import 'scss/snippets/mixins';

.results-list .item {
    margin: 1rem 0;

    .grid.container {
        padding: 1rem;
    }

    &:nth-child(even) {
        background-color: #fff;
    }

    .unapi-id {
        display: none;
    }

    .buttons {
        margin: 2rem 0;
    }

    .pages .wrapper {
        display: flex;
        margin-bottom: 1rem;
    }

    .labels {
        position: absolute;
        top: 0.7rem;
        left: 1rem;
    }

    .title {
        margin-left: 3rem;
    }

    .title a:hover > .header {
        color: $gold;
    }

    .labels,
    .title .header, 
    .author.header {
        font-size: 20px;
        font-family: $headerFont;
        color: $green;
    }

    .author {
        font-weight: 400;
    }

    .metadata .publication {
        margin: 0;

        > .column {
            padding: 0 1rem;
            margin: 1rem 0;
            border-right: 1px solid $midGrey;
            text-align: center;
            
            &:first-child {
                text-align: left;
                padding-left: 0;
            }
            
            &:last-child {
                border: 0;
                padding-right: 0;
                text-align: right;
            }
        }
    }
}