{% load static %}
{% comment %}
NOTE: This site uses RDFa and schema.org vocabulary.  Every page will be declared as schema:Webpage
by default; use page_rdf_type to override with a webpage subclass.
{% endcomment %}
<!DOCTYPE html>
<html lang="en" xmlns:schema="http://schema.org/" xmlns:og="http://ogp.me/ns#">
  <head>
    <title>{% block page-title %}{% block page-subtitle %}{{ page.meta_title }}{% endblock %}Princeton Prosody Archive{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block metadata %}{% endblock %}

    <!-- styles -->
    {% block css %}{% endblock %} {# add any local css here #}
    <link rel="stylesheet" type="text/css" href="{% static "css/test-banner.css" %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/local.js' %}"></script>
    {% block javascript %}{% endblock %} {# add any additional javascript here #}
    {% block head_extras %}{% endblock %}  {# any header metadata, etc #}
  </head>
  <body>
    {% include 'snippets/test_banner.html' %}
      <nav>
        <ul>
          <li>PPA</li>
          <li><a href="{% url 'archive:list' %}">View the Archive</a></li>
          <li><a href="{% url 'archive:list-collections'%}">View Collections</a></li>
      </nav>
    <main>
      {% block content %}{% endblock %}
    </main>
    {% block page_footer %}
    <footer>
        <p id="sw_version">v. {{ SW_VERSION }}</p>
    </footer>
    {% endblock %}
    {% block page-js %}{% endblock %}
  </body>
</html>
