{% extends 'base.html' %}
{% load static humanize %}

{% block css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/home.scss' %}">
{% endblock %}

{% block page-context-id %}homepage{% endblock %}

{% block page_header %}
<header class="ui vertical basic center aligned masthead segment" id="header">
    <h1 class="ui header">Princeton Prosody Archive</h1>
    <h2 class="ui header">Rethinking the past</h2>
</header>
{% endblock %}

{% block content %}
<div class="ui vertical basic segment">
    <div class="ui center aligned text container">
        <a class="archive-link" href="{% url 'archive:list' %}">
            <h3 class="ui header">✒ View the Archive</h3>
        </a>
    </div>
    <div class="intro ui text container">
        <p>Welcome to the Princeton Prosody Archive, a full-text searchable database of thousands of digitized books published between 1570 and 1923.
            The Archive collects historical documents and highlights discourses about the study of language,
            the study of poetry, and where and how these intersect and diverge.</p>
        <p>The PPA began as a collection of texts about versification. Now it covers the study of poetry, grammar, literary history, and speech.
            We understand the PPA collections to be necessarily incomplete – a starting point for new scholarship in historical poetics and historical linguistics.
            As such, we intend the words “prosody” and “archive” in their broadest possible senses.</p>
        <p>The PPA makes several arguments, poses several questions, and welcomes new scholarship based on the work gathered here.
            Some of our initial questions include: What if we began to understand poetics in all of its
            historical, linguistic, and educational valences?</p>
        <p>What if literary concepts such as meter and rhythm are historically contingent and fundamentally unstable?
            What might scholars of distant reading the novel learn from a collection of materials pertaining to poetry?</p>
        <p>Rather than a static repository of historical data, the PPA would like to compel users to rethink the past
            and future of organizing, navigating, conceptualizing, and historicizing large amounts of data – about a single
            poem or about evolving and contradictory thinking about the technology of poetic language.</p>
    </div>
</div>
<div class="ui vertical basic segment">
    <div class="ui stackable two column text container grid">
        <div class="column ui cards">
            <a class="aside card" href="/what-is-prosody/">
                <div class="content">
                    <h3 class="header">What Is Prosody?</h3>
                    <div class="description">Prosody today means both the
                        study of versification and the study of pronunciation.
                        In literary studies, prosody is often interchanged
                        for versification or meter, though in fact each of
                        these terms have complicated and contested histories.
                    </div>
                </div>
            </a>
            <a class="aside card" href="/history-of-the-archive/">
                <div class="content">
                    <h3 class="header">History of the Archive</h3>
                    <div class="description">Meredith Martin began assembling
                        the Archive in 2007 as she was writing <i>The Rise and
                        Fall of Meter: Poetry and English National Culture,
                        1860 – 1930</i>. Brogan was the first to assemble
                        bibliographic records for 1,743 works on
                        versification and prosody.
                    </div>
                </div>
            </a>
        </div>
        <div class="column">
            <h3 class="ui header about-header">About the Collections</h3>
            <div class="description">The Archive builds on bibliographic data from
                several sources as well as library catalog data from the HathiTrust
                Research Center. It is divided into four collections. Users are
                able to search across collections or within any combination
                of collections.
            </div>
            {% for item in object_list %}
            <a class="ui card stack" href="{% url 'archive:list' %}?collections={{ item.name|urlencode }}">
                <div class="content">
                    <h3 class="header">{{ item.name }}</h3>
                    {% with coll_stats=stats|dict_item:item.name %}
                        <div class="meta">
                            {% firstof coll_stats.count "0" as count %}
                            <p>{{ count|intcomma }} digitized work{{ count|pluralize }}
                                {% if coll_stats.dates %} - {{ coll_stats.dates }}{% endif %}
                            </p>
                        </div>
                    {% endwith %}
                    {% if item.description %}
                    <div class="description">
                        {{ item.description|safe }}
                    </div>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
            <a class="collections-link" href="{% url 'archive:list-collections' %}">
                <h3 class="ui header">✒ View All Collections</h3>
            </a>
        </div>
    </div>
</div>
<div class="ui vertical basic segment">
    <div class="ui text container">
        <div class="updates ui two stackable cards">
            <div class="ui card">
                <div class="content">
                    <h3 class="header">{% lorem 3 w random %}</h3>
                    <div class="description">
                        {% lorem 1 p %}
                    </div>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <h3 class="header">{% lorem 3 w random %}</h3>
                    <div class="description">
                        {% lorem 1 p %}
                    </div>
                </div>
            </div>
        </div>
        <a class="archive-link" href="{% url 'archive:list' %}">
            <h3 class="ui header">✒ View the Archive</h3>
        </a>
    </div>
</div>
{% endblock %}