{% extends 'admin/base_site.html'  %}


{% block content_title %}
    <h1>Bulk Add to Collections</h1>
{% endblock %}


{% block  content %}
    {% if object_list %}
    <p> The following items will be added to the selected collections:</p>
        <ul>
        {% for object in object_list%}
            <li>{{ object.title }}: {{ object.source_id }}</li>
        {% endfor %}
        </ul>
    <br />
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    {% else %}
    <p> Please select digitized works from the admin interface. </p>
    {% endif %}
{% endblock %}
