{% extends 'admin/base_site.html'  %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='archive' %}">Archive</a>
    &rsaquo; <a href="{% url 'admin:archive_digitizedwork_changelist'%}">Digitized Works</a>
    &rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}
 {% if object_list %}
 <form method="post" style="padding-top: 2em;">
     {% csrf_token %} {% if errors %}
     <p class="errornote">{% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}</p>
     <ul class="errorlist">{% for error in form.non_field_errors %}
         <li>{{ error }}</li>{% endfor %}</ul>
     {% endif %}
     <fieldset class="module">
         <div class="form-row">
             <div class="field-box l-2c-fluid l-d-4">
                 <div class="c-1">{{ form.collections.label_tag }}</div>
                 <div class="c-2">
                     {{ form.collections }}
                     {% if form.collections.help_text %} {{ form.collections.help_text }} {% endif %}
                 </div>
                 {% if form.collections.errors %} {{ form.collections.errors }} {% endif %}
             </div>
             </div>

             <div class="form-row">
                 <div class="field-box l-2c-fluid l-d-4">
                     <input type="submit" value="Submit">
                 </div>
             </div>

     </fieldset>
 </form>

<p> The following items will be added to the selected collections:</p>
<table id="result_list" cellspacing="0" >
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">HathiTrust ID</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.title }}</td>
            <td>{{ object.source_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{# inline CSS here for spacing for a single exception #}
    {% else %}
    <p> Please select digitized works from the admin interface. </p>
    {% endif %}
{% endblock %}
