{% extends "base.html"  %}
{% load render_bundle from webpack_loader %}
{% load static semanticui humanize %}

{% block js %}
{% if object.has_fulltext %}
{% render_bundle 'searchWithin' 'js' %}
{% endif %}
{% endblock %}

{% block page-subtitle %}Archive · {{ object.title }} {% endblock %}
{% block metadata %}
<meta name="twitter:label1" content="Publication Date" />
<meta name="twitter:data1" content="{{ object.pub_date }}" />
<meta name="twitter:label2" content="Author" />
<meta name="twitter:data2" content="{{ object.author }}" />
{% endblock %}

{% block head_extras %}
    <link rel="unapi-server" type="application/xml" title="unAPI"
          href="{% url 'unapi' %}" />
    <noscript>
        <link rel="stylesheet" type="text/css" href="{% static 'css/noscript.css' %}"/>
    </noscript>
{% endblock %}

{% block page-context-id %}digitized-work{% endblock %}

{% block page_nav %}
    {% include 'snippets/nav.html' with style="archive" active="archive" %}
{% endblock %}

{% block content %}
<section class="meta ui basic vertical segment container">
    <h1 class="header">{{ object.title }}</h1>
    <abbr class="unapi-id" title="{{ object.source_id }}"></abbr>
    <table class="metadata ui very basic table">
        <tbody>
            {% if object.subtitle %}
            <tr class="secondary-title">
                <th scope="row">Secondary Title</th>
                <td>{{ object.subtitle }}</td>
            </tr>
            {% endif %}
            {% if object.pub_date %}
            <tr>
                <th scope="row">Publication Date</th>
                <td>{{ object.pub_date }}</td>
            </tr>
            {% endif %}
            {% if object.author %}
            <tr>
                <th scope="row">Author</th>
                <td>{{ object.author }}</td>
            </tr>
            {% endif %}
            {% if object.publisher %}
            <tr>
                <th scope="row">Publisher</th>
                <td>{{ object.publisher }}</td>
            </tr>
            {% endif %}
            {% if object.pub_place %}
            <tr>
                <th scope="row">City</th>
                <td>{{ object.pub_place }}</td>
            </tr>
            {% endif %}
            {% if object.page_count %}
            <tr>
                <th scope="row">Page count</th>
                <td>{{ object.page_count }}</td>
            </tr>
            {% endif %}
            {% if object.collections.exists %}
            <tr>
                <th scope="row">PPA Collection{{ object.collections.count|pluralize }}</th>
                <td>
                    {% for collection in object.collections.all %}
                    <label class="ui basic button" href="{% url 'archive:list' %}?collections={{ collection.pk }}">{{ collection }}</label>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
            {% if object.source_url %}
            <tr class="hathi-link">
                <th scope="row">View{% if object.source == object.OTHER %} external record
                    {% else %} on {{ object.get_source_display }}{% endif %}</th>
                <td>
                    <a href="{{ object.source_url }}" target="_blank">{{ object.source_id }}</a>
                </td>
            </tr>
            {% endif %}
            {% if object.public_notes %}
            <tr>
              <th scope="row">Note on edition</th>
              <td>
                {{ object.public_notes }}
              </td>
            </tr>
            {% endif %}
            {% if user.is_authenticated %}
              {% if object.notes %}
              <tr>
                <th scope="row">Curation notes</th>
                <td>
                  {{ object.notes }}
                </td>
              </tr>
              {% endif %}
            <tr>
                <th scope="row">Added</th>
                <td>{{ object.added|date:"d M Y" }}</td>
            </tr>
            <tr>
                <th scope="row">Last Updated</th>
                <td>{{ object.updated|date:"d M Y" }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</section>
{# search within a volume currently only supported for hathi content #}
{% if object.has_fulltext %}
<section class="ui basic vertical segment container">
    <form id="search-within" class="ui form no-js">
        <div class="ui vertical basic grid segment">
            <legend class="sr-only">text search fields</legend>
            <div class="twelve wide column">
                {% render_field search_form.query %}
                <span class="question-popup" data-html="{{ search_form.QUESTION_POPUP_TEXT }}" data-position="top center">
                    <i class="ui question circle icon"></i>
                </span>
            </div>
            <input class="sr-only sr-only-focusable" type="submit" aria-label="submit search">
        </div>
    </form>
    {% include 'archive/snippets/jump_top.html' with anchor='digitized-work' %}
</section>
  {% if query or page_highlights %}
    {% if not error %}
    <div class="occurrences ui center aligned text container">
        <p>{{ page_obj.paginator.count }} occurrence{{ page_obj.paginator.count|pluralize }}</p>
    </div>
    <div class="pagination ui container">
        {% include 'archive/snippets/pagination.html' %}
    </div>
    {% endif %}
  {# display matching pages with highlighted text if there is a search active #}
  <output class="ajax-container" form="search-within">
    {% include 'archive/snippets/results_within_list.html' %}
  </output>
  {% endif %}
{% endif %}
{% endblock %}
