{% extends "base.html"  %}
{% load static semanticui humanize %}

{% block js %}
<script src="{% static 'js/searchWithin.js' %}" type="module"></script>
{% endblock %}

{% block page-subtitle %}Archive | {{ object.title }} {% endblock %}

{% block head_extras %}
    <link rel="unapi-server" type="application/xml" title="unAPI"
          href="{% url 'unapi' %}" />
{% endblock %}

{% block page-context-id %}digitized-work{% endblock %}

{% block content %}
<section class="ui basic vertical segment container">
    <form class="ui form">
        <fieldset class="ui vertical basic grid segment">
            <legend class="sr-only">text search fields</legend>
            <div class="twelve wide column">
                {% render_field search_form.query %}
                <span class="question-popup" data-html="{{ search_form.QUESTION_POPUP_TEXT }}" data-position="top center">
                    <i class="ui question circle icon"></i>
                </span>
            </div>
            <input class="sr-only sr-only-focusable" type="submit" aria-label="submit search">
        </fieldset>
    </form>
</section>
{% if query %} {# display search result view of record if there is a search term active #}
<div class="results-list single">
    {# suppress order and highlighting in search result snippet  #}
    {% include 'archive/snippets/search_result.html' with item=object page_highlights=0 page_obj=0 %}
</div>
{% else %}
<section class="meta ui basic vertical segment container">
    <h3 class="header">{{ object.title }}</h3>
    <abbr class="unapi-id" title="{{ object.source_id }}"></abbr>
    <table class="metadata ui very basic table">
        <tbody>
            {% if object.subtitle %}
            <tr class="secondary-title">
                <th scope="row">Secondary Title</th>
                <td>{{ object.subtitle }}</td>
            </tr>
            {% endif %}
            <tr>
                <th scope="row">Year of Publication</th>
                <td>{{ object.pub_date }}</td>
            </tr>
            {% if object.author %}
            <tr>
                <th scope="row">Author</th>
                <td>{{ object.author }}</td>
            </tr>
            {% endif %}
            <tr>
                <th scope="row">Publisher</th>
                <td>{{ object.publisher }}</td>
            </tr>
            <tr>
                <th scope="row">City</th>
                <td>{{ object.pub_place }}</td>
            </tr>
            {% if object.collections.exists %}
            <tr>
                <th scope="row">PPA Collection{{ object.collections.count|pluralize }}</th>
                <td>
                    {% for collection in object.collections.all %}
                    <label class="ui basic button" href="{% url 'archive:list' %}?collections={{ collection.pk }}">{{ collection }}</label>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
            <tr class="hathi-link">
                <th scope="row">HathiTrust Volumes</th>
                <td>
                    <span>{{ object.source_id }}</span>
                    <a href="{{ object.source_url }}" target="_blank" class="ui right labeled primary icon button">
                        HathiTrust
                        <i class="right arrow icon"></i>
                    </a>
                </td>
            </tr>
            {% if object.public_notes %}
            <tr>
              <th scope="row">Note on edition</th>
              <td>
                {{ object.public_notes }}
              </td>
            </tr>
            {% endif %}
            {% if user.is_authenticated %}
              {% if object.notes %}
              <tr>
                <th scope="row">Curation notes</th>
                <td>
                  {{ object.notes }}
                </td>
              </tr>
              {% endif %}
            <tr>
                <th scope="row">Added</th>
                <td>{{ object.added|date:"d M Y" }}</td>
            </tr>
            <tr>
                <th scope="row">Last Updated</th>
                <td>{{ object.updated|date:"d M Y" }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</section>
{% endif %}

  {# display matching pages with highlighted text if there is a search active #}
  {% if query or page_highlights %}
    {% if not error %}
    <div class="occurrences ui center aligned text container">
        <p>{{ page_obj.paginator.count }} occurrence{{ page_obj.paginator.count|pluralize }}</p>
    </div>
    <div class="ui container">
        {% include 'archive/snippets/pagination.html' %}
    </div>
    {% endif %}
    <div class="results-list ui container">
        {% for page in solr_results %}
          {% with highlights=page_highlights|dict_item:page.id%}
          <div class="ui page item">
              <div class="pages ui twelve wide column">
                  <div class="wrapper">
                      {% include 'archive/snippets/page_preview.html' with item_id=page.srcid  %}
                  </div>
              </div>
          </div>
          {% endwith %}
        {% empty %}
            <div class="ui error message container">
                {# display error if something went wrong (bad query, etc.) #}
                <p>{% firstof error "No matching pages." %}</p>
            </div>
        {% endfor %}
    </div>
    {% if not error %}
    <div class="ui container">
        {% include 'archive/snippets/pagination.html' %}
    </div>
    {% endif %}

  {% endif %}

{% endblock %}
