{% extends "base.html" %}
{% load static humanize ppa_tags %}

{% block css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'archive/scss/list-collections.scss' %}">
{% endblock %}

{% block page-subtitle %}Archive | Collections {% endblock %}

{% block page-context-id %}collections{% endblock %}

{% block page_header %}
<header id="header" class="ui center aligned text container">
    <h4 class="sub header">about the</h4>
    <h1 class="header">Collections</h1>
</header>
{% endblock %}

{% block content %}
<div class="ui center aligned text container">
    <p class="page-description">The Archive builds on bibliographic data from several sources as well as library catalog data from the HathiTrust Research Center. It is divided into six collections. Users are able to search across collections or within any combination of collections.</p>
    <section class="collection-cards">
        <div class="ui two stackable cards">
            {% for item in object_list %}
            {% with coll_stats=stats|dict_item:item.name %}
                {% with coll_stats.count|yesno:"a,span" as tag %}
            {# collections with no items are displayed but do not link to search #}
            <{{ tag }} class="ui collection card" {% if coll_stats.count %}href="{% url 'archive:list' %}?collections={{ item.id }}"{% endif %}>
                <div class="center aligned content">
                    <h3 class="header">{{ item.name }}</h3>
                        <div class="meta">
                            {% firstof coll_stats.count "0" as count %}
                            <p class="count">{{ count|intcomma }} digitized work{{ count|pluralize }}</p>
                            <p class="date">{{ coll_stats.dates }}</p>
                        </div>

                    {% if item.description %}
                    <div class="description">
                        {{ item.description|safe }}
                    </div>
                    {% endif %}
                </div>
            </{{ tag }}>
            {% endwith %} {% endwith %}
            {% endfor %}
        </div>
    </section>
    <a class="archive-link" href="{% url 'archive:list' %}"><h2 class="ui header">✒ View the Archive</h2></a>
</div>
{% endblock %}

