{% extends "base.html" %}
{% load static humanize ppa_tags humanize %}

{% block page-subtitle %}Archive | Collections {% endblock %}

{% block page-context-id %}collections{% endblock %}

{% block page_nav %}
    {% include 'snippets/nav.html' with style="archive" active="collections" %}
{% endblock %}

{% block page_header %}
<header id="header" class="ui center aligned text container">
    <h1 class="ui header">Collections</h1>
</header>
{% endblock %}

{% block content %}
<div class="ui text container">
    <p class="page-description">The Archive builds on bibliographic data from several sources as well as library catalog data from the HathiTrust Research Center. It is divided into {{ object_list.count|apnumber }} collections. Users are able to search across collections or within any combination of collections.</p>
    <section class="collection-cards ui cards">
        {% for item in object_list %}
        {% with coll_stats=stats|dict_item:item.name %}
            {% with coll_stats.count|yesno:"a,span" as tag %}
        {# collections with no items are displayed but do not link to search #}
        <{{ tag }} class="ui card" {% if coll_stats.count %}href="{% url 'archive:list' %}?collections={{ item.id }}"{% endif %}>
            <div class="content">
                <h3 class="header">{{ item.name }}</h3>
                    <div class="meta">
                        {% firstof coll_stats.count "0" as count %}
                        <p>{{ count|intcomma }} digitized work{{ count|pluralize }}
                            {% if coll_stats.dates %} - {{ coll_stats.dates }}{% endif %}
                        </p>
                    </div>
                {% if item.description %}
                <div class="description">
                    {{ item.description|safe }}
                </div>
                {% endif %}
            </div>
        </{{ tag }}>
        {% endwith %} {% endwith %}
        {% endfor %}
    </section>
    <a class="archive-link" href="{% url 'archive:list' %}">
        <h3 class="ui header">
            {% include 'snippets/fermata.svg' %}
            View and search the archive
        </h3>
    </a>
</div>
{% endblock %}

