{% extends "base.html" %}
{% load static humanize ppa_tags %}

{% block js %}
<script src="{% static 'js/search.js' %}" type="module"></script>
{% endblock %}

{% block head_extras %}
<link rel="unapi-server" type="application/xml" title="unAPI"
href="{% url 'unapi' %}" />
{% endblock %}

{% block page-subtitle %}Archive | {% endblock %}
{% block page-context-id %}search{% endblock %}

{% block page_nav %}
    {% include 'snippets/nav.html' with style="archive" active="archive" %}
{% endblock %}

{% block content %}
<section class="ui search basic vertical segment container">
    <h1 class="ui sub header">Archive</h1>
    {% include 'archive/snippets/search_form.html' %}
</section>
<div class="ajax-container">
    {% include 'archive/snippets/results_list.html' %}
</div>
{% endblock %}
