{% extends "base.html" %}
{% block page-subtitle %}Archive | {% endblock %}

{% block content %}
<h1>Archive</h1>

<form>
{{ search_form }}
<input type="submit"/>
</form>

<p>{{ total }} item{{ total|pluralize }}</p>
<hr/>

<ul>
    {% for item in items %}
    <li>
        <h3>{{ item.title }}</h3>
        <p>{{ item.author }}</p>
        <p>{% if item.enumcron %}{{ item.enumcron }}, {% endif %}{{ item.pub_date}}</p>
        <p><small>{{ item.htid }}</small></p>
        {% for id, results in page_groups.items %}
            {% if id == item.id %}
                {{ results.numFound }} page{{ results.numFound|pluralize }}
                {# {{ results }} #}
            {% endif %}
        {% endfor %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
