{% extends "base.html" %}
{% load humanize %}
{% block page-subtitle %}Archive | {% endblock %}

{% block content %}
<h1>Archive</h1>

<form>
{{ search_form }}
<input type="submit"/>
</form>

<p>{{ paginator.count|intcomma }} digitized work{{ paginator.count|pluralize }}; results sorted by {{ sort }}.</p>
<hr/>

<ul>
    {% for item in object_list %}
    <li>
        <h3><a href="{% url 'archive:detail' item.srcid %}">{{ item.title }}</a></h3>
        <p>sort title: {{ item.title_exact }}</p>
        <p>{{ item.author }}</p>
        {% if item.enumcron %}<p>{{ item.enumcron }}</p> {% endif %}
        <p>{{ item.publisher }} {{ item.pub_place }} {{ item.pub_date }}</p>
        <p><small><a href="{{ item.src_url }}">{{ item.srcid }}</a></small></p>
        {% for id, results in page_groups.items %}
            {% if id == item.id %}
                <p>{{ results.numFound|intcomma }} page{{ results.numFound|pluralize }};
                {# {{ results }} #}
                pages
                {% for page in results.docs %}
                    {{ page.order }} {% if sort == 'relevance' %}<small> relevance: {{ page.score }}</small>{% endif %};
                {% endfor %}
                </p>
            {% endif %}
        {% endfor %}
        {% if sort == 'relevance' %}
            <p><small>relevance: {{ item.score }}</small></p>
        {% endif %}
    </li>
    {% empty %}
    <li>No matching items found</li>
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
